.adminlinkcard_con {
    background-color: #fff;
    text-align: left;
    cursor: pointer;

    max-width: 100%;
    min-height: 80px;
    margin-bottom: 20px;

    font-family: "IBM Plex Sans", sans-serif;
    cursor: default;
    padding: 10px 20px;

    h2 {
        font-size: 1.1rem;
        margin-bottom: 5px;
    }

    @media screen and (max-width: 900px) {
        max-width: 100%;
    }
    display: flex;
    align-items: center;
}

.jd_date {
    color: red;
    margin-right: 30px;
}

.btn {
    text-transform: capitalize;
    background-color: #0069ff;
    color: #ffffff;
    padding: 0px 0px;
    font-weight: 400;
    height: 30px;
    width: 100px;
    opacity: 0.6;

    &:hover {
        background-color: #0069ff;
        opacity: 1;
    }
}
.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.adminlink_item {
    display: flex;
    flex-direction: row;
    color: #121212;
    margin-bottom: 4px;
}


.companyLogo{
    height: 50px;
    width: 50px;
    margin-right: 20px;
    @media screen and (max-width: 900px) {
        height: 40px;
        width: 40px;
    }
}

.adminlinkWrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}