.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
}
.container {
    background-color: #e1ebff;
    padding: 20px;
}

.adminpanel_header {
    background-color: #2e57e8;
    padding: 20px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.maininput_con {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    width: 100%;
}

.input_fields {
    width: 50%;
}

.companylogo_con {
    // background-color: red;
    img {
        z-index: 0;
    }
}

// ---------------------------------------------
// For instagram banner canvas -----------------
@mixin canvasdesign {
    background-color: #fff;
    font-family: "Inter", sans-serif;
    max-width: 100%;
    margin-top: 20px;
}
.canvas {
    @include canvasdesign;
    width: 432px;
    height: 432px;
    padding: 28.8px;
}
.canvasbig {
    @include canvasdesign;
    width: 900px;
    height: 900px;
    padding: 50px 60px;
}

// header for canvas -------------
@mixin canvasdesign {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.canvas_header {
    @include canvasdesign;
    height: 14.38px;
}
.canvas_header_big {
    @include canvasdesign;
    height: 30px;
}

// web link in header
@mixin weblinkdesign {
    font-size: 14px;
    font-weight: 600;
    span {
        font-weight: 700;
        color: #0050ff;
    }
}
.weblink {
    @include weblinkdesign;
    font-size: 12px;
    z-index: 99;
}
.weblinkbig {
    @include weblinkdesign;
    font-size: 27px;
    z-index: 99;
}
.logo {
    height: 14px;
}
.logobig {
    height: 30px;
}

// comapny logo with text -------------
@mixin logocondesign {
    width: 100%;
    display: flex;
    align-items: center;
    h1 {
        font-weight: 700;
        color: #0050ff;
    }
}
.companylogo_con {
    @include logocondesign;
    height: 86.4px;
    padding-top: 10px;
    h1 {
        font-size: 3rem;
    }
}
.companylogo_con_big {
    @include logocondesign;
    height: 180px;
    padding-top: 33px;
    margin-left: -6px;
    h1 {
        font-size: 6.8rem;
    }
}

// title for ig banner -----------
@mixin canvastitledesign {
    display: flex;
    align-items: flex-start;
    color: #000;
    h1 {
        font-weight: 700;
    }
}
.canvas_title {
    @include canvastitledesign;
    font-size: 15px;
    line-height: 38px;
    z-index: 99;
    height: 89.4px;
}
.canvas_title_big {
    @include canvastitledesign;
    font-size: 32px;
    line-height: 84px;
    z-index: 99;
    height: 188px;
    padding-top: 13px;
    margin-left: -5px;
}

// Canvas details ---------
@mixin canvasdetaildesign {
    display: flex;
    // background-color: #0050ff;
    color: #0c0c0c;
    border-radius: 5px;
    justify-content: center;

    flex-direction: column;
    p {
        margin: 4.5px 0px;
        font-weight: 600;
    }

    .tag {
        font-weight: 700;
        border-bottom: 1.5px solid #000;
        padding-bottom: 1px;
    }
}
.canvas_details {
    @include canvasdetaildesign;
    height: 155px;
    padding: 0px 14px 8px 14px;
    p {
        font-size: 14px;
        line-height: 17px;
    }
}
.canvas_details_big {
    @include canvasdetaildesign;
    height: 322px;
    padding: 14px 0px 10px 34px;
    p {
        font-size: 34px;
        line-height: 54px;
    }
}

@mixin footerdesign {
    font-family: "Sora", sans-serif;
    margin-top: 15px;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    p {
        font-weight: 600;
    }
    span {
        font-weight: 700;
        color: #0050ff;
    }
}
.footer {
    @include footerdesign;
    height: 28.77px;
    font-size: 12px;
    img {
        width: 14px;
        margin-right: 3px;
    }
}
.footerbig {
    @include footerdesign;
    font-size: 26.6px;
    height: 59.94px;
    img {
        width: 24px;
        margin-right: 5px;
        margin-bottom: 4px;
    }
}
// end of ig banner ----------------

.bannerbtn {
    margin: 10px 0px;
}
.submitbtn_zone {
    width: 70%;
}

.submitbtn {
    width: 100%;
}

.editor_label {
    margin: 20px 0px 10px;
    color: #121212;
    font-weight: 600;
}

.ck-editor__editable {
    padding: 30px;
}

li {
    margin-left: 20px;
}
.ck {
    background-color: #000;
}
.ck-editor__main {
    background-color: #000;
}
.ck-editor__editable {
    background-color: #000;
}

.adminpanel_grid {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 85vh;
}

.adminpanel_nav {
    display: flex;
    flex-direction: column;
}

.adminpanel_nav_btn {
    text-align: left;
    color: #000;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #121212;
    background-color: #fcfcfc;
    border-top: none;

    &:hover {
        background-color: #5a7dfd;
        color: #fff;
    }
}

.adminpanel_home {
    background-color: #e1ebff;
    // padding: 20px 10px;
}
