.btn {
    text-transform: capitalize;
    background-color: #0069ff;
    color: #ffffff;
    padding: 0px 0px;
    font-weight: 400;
    height: 30px;
    width: 100px;
    opacity: 0.6;

    &:hover {
        background-color: #0069ff;
        opacity: 1;
    }
}
