.adminlinkcard_con {
  background-color: #fff;
  text-align: left;
  cursor: pointer;

  max-width: 90%;
  min-height: 80px;
  margin-bottom: 20px;

  font-family: "IBM Plex Sans", sans-serif;
  cursor: default;
  padding: 10px 20px;

  h2 {
    font-size: 1.1rem;
    margin-bottom: 5px;
  }

  @media screen and (max-width: 900px) {
    max-width: 100%;
  }
}

.jd_date {
  color: red;
}

.adminlink_item {
  display: flex;
  flex-direction: row;
  color: #121212;
  margin-bottom: 4px;
}
