$canvasPadding: 60px; // main padding
$canvasBgColor: #ffffff; // canvas background color
$logoFontSize: 120px;
$titleFontSize: 96px;
$detailFontSize: 38px;
$gridBoxSize: 30px;

.canvas {
    background-color: $canvasBgColor;
    font-family: "Inter", sans-serif;
    max-width: 100%;
    width: 1080px;
    // height: 1080px;
    height: 1350px;
    border: 1px solid #000;
}

.upper {
    // padding: 55px 60px 20px;
    padding: 55px 60px 0px;
    // height: 20 * $gridBoxSize;
    height: 24 * $gridBoxSize;
    // background-color: #b3b3b3;
}

.lower {
    padding: 0px;
    // height: 14 * $gridBoxSize;
    height: 19 * $gridBoxSize;
}

// header for canvas -------------
.canvas_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 1 * $gridBoxSize;

    .weblink {
        // font-size: 14px;
        font-weight: 600;

        span {
            font-weight: 700;
            color: #0069ff;
        }

        font-size: 28px;
        z-index: 99;
    }

    .logo {
        height: 30px;
    }

    .logoText {
        font-size: 28px;
        font-weight: 600;

        span {
            background-color: #0069ff;
            color: #ffffff;
            padding: 4px 6px;
            margin-left: 4px;
        }
    }
}

// comapny logo with text -------------
.companylogo {
    // background-color: lightsalmon;
    height: 9 * $gridBoxSize;
    width: 100%;
    display: flex;
    align-items: center;

    h1 {
        font-weight: 600;
        color: #0069ff;
        font-size: $logoFontSize;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #0050ff;
    }

    grid-row-start: 6;
    grid-row-end: 9;
    padding-top: 64px;
}

// title for ig banner -----------
.canvas_title {
    // background-color: forestgreen;
    display: flex;
    // align-items: flex-end;
    align-items: center;
    color: #000;

    h1 {
        font-weight: 600;
        font-size: $titleFontSize;
        line-height: 120px;
    }

    z-index: 99;
    height: calc(12 * $gridBoxSize);
    padding-bottom: 60px;
}

// Canvas details ---------
.canvas_details {
    background-color: #f0f8ff;
    height: 19 * $gridBoxSize;
    z-index: 0;
    display: flex;
    color: #fff;
    border-radius: 50px 50px 0px 0px;
    justify-content: center;
    flex-direction: column;

    p {
        color: #000000;
        margin: 4.5px 0px;
        font-weight: 500;
        font-size: $detailFontSize;
        line-height: 70px;
    }

    .tag {
        font-weight: 600;
        color: #000000;
    }

    padding: 0px 0px 0px 120px;
}

.footer {
    background-color: #121212;
    height: 2 * $gridBoxSize;
    position: relative;
    margin-bottom: 0px;
    padding: 0px 2 * $gridBoxSize;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    p {
        font-weight: 500;
        color: #ffffff;
        margin-left: 10px;
    }

    span {
        font-weight: 600;
    }

    font-size: 28px;

    img {
        width: 24px;
        margin-right: 5px;
        margin-top: 0px;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
}
.canvasdesign_container {
    margin-bottom: 30px;
}

.linkedinbanner {
    background-color: #fff;
    height: 420px;
    width: 700px;
    text-align: center;
    padding: 26px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &_imagecontainer {
        height: 100px;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 3.6rem;
    }

    p {
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin-top: 20px;
    }
}

.jobsattechcanvas {
    background-color: #fff !important;
    // padding: 72px;

    &_upper {
        padding: 55px 72px 0px;
        // height: 20 * $gridBoxSize;
        height: 720px;
    }

    &_header {
        // color: #002C9B !important;
        span: {
            background-color: #002c9b;
        }
    }

    &_companylogo {
        // justify-content: center;
    }

    &_jobtitle {
        color: #002c9b !important;
        padding-bottom: 0px;
        justify-content: center;
    }
    &_details {
        background-color: #fff !important;
        padding-left: 72px;
        margin: 0px auto 40px;
        height: 530px;
        border-radius: 0px;
    }

    &_footer {
        justify-content: center;
        // background-color: #002c9b;
    }
}

.carousel {
    padding: 60px 80px !important;

    &_header {
        height: 60px;
    }

    &_companylogo {
        height: 8 * 60px;
    }

    &_details {
        height: 10 * 60px;
        padding-bottom: 30px;

        p {
            font-size: 2.2rem;
            margin-top: 60px;
            font-weight: 600;
        }
    }

    &_footer {
        margin-top: 30px;
        padding: 0px;
        background-color: #fff;
        position: relative;
        bottom: 0px;
        height: 60px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            color: #0050ff;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &_swiper {
            padding: 6px 22px;
            background-color: #000000;
            border-radius: 18px;
            p {
                font-size: 1rem;
                margin-left: 0px;
            }
        }
    }

    &_jobdetails {
        height: 16 * 60px;
        display: flex;
        align-items: left;
        flex-direction: column;
        justify-content: left;
        background-color: #f4faff;
        border-radius: 12px;
        margin: 60px 0px;
        padding: 120px 80px;
        text-align: left;

        h2 {
            font-size: 4rem;
            color: #0050ff;
        }

        div {
            font-size: 2.2rem;
            font-weight: 600;
            margin-top: 40px;
            p {
                margin-top: 40px;
                color: #121212;
            }
        }
    }
}
