.adminpanel {
  background-color: #e1ebff;
  min-height: 100vh;
  width: 100%;
}
.adminpanel_header {
  background-color: #0069ff;
  padding: 15px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;

  @media (max-width: 900px) {
    padding: 12px 10px;

    h3 {
      font-size: 14px;
    }
  }
}

.container {
  width: 100%;
}

.tablist {
  background-color: #fff;
  padding: 10px 20px;
  list-style: none;
  display: flex;
  column-gap: 10px;

  @media (max-width: 900px) {
    flex-direction: column;
    row-gap: 5px;
  }
}

.tab {
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  margin: 10px 0px;
  background-color: rgba(32, 101, 209, 0.08);
  cursor: pointer;
  font-size: 12px;
  color: #0069ff;
  font-weight: 600;
  outline: none;

  &:hover {
    background-color: rgb(209, 233, 252);
  }

  &:active {
    color: red;
  }

  @media (max-width: 900px) {
    row-gap: 5px;
    margin: 4px 0px;
    font-size: 14px;
  }
}
