.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    align-items: flex-start;
    overflow: none;
    text-align: left;
    width: 60%;
    overflow-y: hidden !important;

    p {
        margin: 10px 0px 0px;
    }
}

.container > * {
    margin-bottom: 20px;
}

.input_field {
    width: 60%;
    background-color: #fff !important;
}

.button {
    width: 100%;
    margin-top: 30px !important;
    @media screen and (max-width: 900px) {
        width: 90%;
    }
}
